* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: #141b1c;
  color: #fff;
  font-size: 15px;
  margin: 0 auto;
}

.Desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141b1c;
  padding: 65px 20px;
}

.price-cards-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.price-card {
  width: 380px;
  background-color: #334247;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .price-card {
    width: 100%;
    max-width: 500px;
  }
}
.price-card--popular {
  position: relative;
  overflow: hidden;
}
.price-card__ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 25px;
  background-color: #dc3f45;
  transform: rotate(45deg);
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: -40px;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  .price-card__ribbon {
    width: 34vw;
    height: 50px;
    font-size: 20px;
    top: 15px;
    right: -80px;
  }
}
@media screen and (max-width: 768px) {
  .price-card__ribbon {
    width: 34vw;
    height: 40px;
    font-size: 15px;
    top: 10px;
    right: -70px;
  }
}
@media screen and (max-width: 480px) {
  .price-card__ribbon {
    width: 120px;
    height: 25px;
    font-size: 10px;
    top: 12px;
    right: -45px;
  }
}
.price-card__header {
  display: flex;
  flex-direction: column;
  height: 130px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .price-card__header {
    height: auto;
  }
}
.price-card_title {
  font-size: 35px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .price-card_title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .price-card_title {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .price-card_title {
    font-size: 27px;
    margin-top: 16px;
  }
}
.price-card__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 31px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .price-card__subtitle {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .price-card__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .price-card__subtitle {
    font-size: 18px;
    margin-bottom: 18px;
  }
}
.price-card__price-block {
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .price-card__price-block {
    height: 70px;
  }
}
.price-card_price {
  font-size: 55px;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .price-card_price {
    font-size: 40px;
  }
}
.price-card_description {
  width: 320px;
  line-height: 18px;
  text-align: center;
  margin: 40px auto;
  font-size: 15px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .price-card_description {
    font-size: 20px;
    width: 80%;
    line-height: 1.3;
  }
}
@media screen and (max-width: 768px) {
  .price-card_description {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .price-card_description {
    font-size: 14px;
    margin: 20px auto;
    width: 90%;
  }
}
.price-card_options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .price-card_options-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .price-card_options-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.price-card__option {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  position: relative;
  font-size: 15px;
  font-weight: 300;
}
.price-card__option:nth-child(odd) {
  background-color: #2a3438;
}
@media screen and (max-width: 1200px) {
  .price-card__option {
    font-size: 20px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .price-card__option {
    font-size: 15px;
    padding-left: 50px;
    width: 50%;
  }
  .price-card__option:nth-child(odd) {
    background-color: transparent;
  }
  .price-card__option:nth-child(2), .price-card__option:nth-child(3), .price-card__option:nth-child(6) {
    background-color: #2a3438;
  }
}
@media screen and (max-width: 480px) {
  .price-card__option {
    font-size: 12px;
    padding-left: 35px;
    height: 45px;
  }
}
.price-card__option::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  left: 22px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1200px) {
  .price-card__option::before {
    width: 22px;
    height: 20px;
    left: 25px;
  }
}
@media screen and (max-width: 480px) {
  .price-card__option::before {
    width: 12px;
    height: 11px;
    left: 15px;
  }
}
.price-card_order-btn {
  width: 156px;
  height: 40px;
  font-weight: 400;
  border-radius: 20px;
  color: #fff;
  border: none;
  margin: 39px auto 40px auto;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: opacity 0.2s;
}
.price-card_order-btn:hover {
  opacity: 0.85;
}
@media screen and (max-width: 1200px) {
  .price-card_order-btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .price-card_order-btn {
    width: 156px;
    height: 40px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .price-card_order-btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
    margin: 20px auto;
  }
}
.price-card--basic .price-card__option::before {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-green.png");
}
.price-card--basic .price-card__price-block {
  background-color: #5bb189;
}
.price-card--basic .price-card_order-btn {
  background-color: #5bb189;
}
.price-card--business .price-card__option::before {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-blue.png");
}
.price-card--business .price-card__price-block {
  background-color: #3a6ba5;
}
.price-card--business .price-card_order-btn {
  background-color: #3a6ba5;
}
.price-card--webshop .price-card__option::before {
  background-image: url("https://bionic-university.s3.eu-central-1.amazonaws.com/projects/price-cards/checkmark-orange.png");
}
.price-card--webshop .price-card__price-block {
  background-color: #ec632a;
}
.price-card--webshop .price-card_order-btn {
  background-color: #ec632a;
}

.bg {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
