@import 'variables.scss';
@import 'breakpoints.scss';
@import 'cards.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: $light-weight;
  background-color: $cite-bg-color;
  color: $color-white;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
