$tablet-width: 768px;
$desktop-width: 1200px;

$regular-weight: 400;
$light-weight: 300;
$bold-weight: 700;

$cite-bg-color: #141b1c;
$color-white: #fff;
$card-bg-color: #334247;
$basic-price-bgcl: #5bb189;
$business-price-bgcl: #3a6ba5;
$webshop-price-bgcl: #ec632a;
$card-darkbg-color: #2a3438;
$red-ribbon-color: #dc3f45;
